body {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 12pt;
	background-repeat: repeat-x;
	background-image: url("../imagens/fundo_principal.jpg");
}

h1,h2,h3,p,ul,li {
	margin: 0;
	padding: 0;
}

p,h2,h3 {
	margin: 0 0 10px 0;
}

ul {
	list-style: none;
}

#conteiner {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 10px;
	/*border: 10px solid #044375;*/
	background-color: #FFFFFF;
}

#header {
	
}

#header,#logo {
	margin: 0 auto;
}

#div_menu {
	margin: 0px;
	padding: 0px;
}

#login_usuario {
	background-color: #80C72D;
	font-size: 0.7em;
	font-family: arial, sans-serif;
	height: 0px;
	padding: 0 5px 0 0;
	text-transform: capitalize;
	text-align: right;
	vertical-align: bottom;
}

#login {
	width:290px; 
	font-size:12px; 
	text-align:center
}

#titulo_barra {
	background-color: #CCCCCC;
	font-size: 10pt;
	font-weight: bold;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	margin: 0 0 15px 0;
	
}

#conteudo {
	margin: 0 auto;
	padding: 0;
	float: left;
	/*
	border: solid 1px;
	border-color: #BDBDBD;
	*/
}

#conteiner,#conteudo {
	width: 980px;
}

#rodape {
	margin-top: 20px;
	padding-top: 50px;
	clear: both;
	text-align: center;
	font-size: 0.7em;
}

.logo_cagece {
	float: right;
}

.titulo_sistema {
	background-image: url("../imagens/scoe.png");
	height: 99px;
	width: 480px;
	float: left;
}

.gmap_class {
	width: 820px;
	height: 506px
}

.formulario {
	margin: 10px;
	padding-bottom: 15px;
	margin-bottom: 5px;
	height: 100%;
	height: 100%;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-bottom-color: black;
	border-bottom-width: 1.9px;
	border-bottom-style: solid;
}

.info_msg,.warn_msg,.error_msg {
	font-size: 10pt;
}

.info_msg {
	color: #367F40;
	background-color: #B9FFC3;
}

.warn_msg {
	color: #7F7539;
	background-color: #FFF5BF;
}

.error_msg {
	color: #7F4343;
	background-color: #FFD3D3;
}

.info_msg_campo,.warn_msg_campo,.error_msg_campo {
	font-size: 8pt;
	padding: 4px 0 0 0;
}

.info_msg_campo {
	color: #007F00;
}

.warn_msg_campo {
	color: #7F7539;
}

.error_msg_campo {
	color: #FF0000;
}

.div_campo {
	vertical-align: middle;
	display: block;
	clear: both;
	height: auto;
	margin: 0 auto;
	font-size: 12pt;
	position: relative;
	width: 66%;
}

.div_botoes {
	vertical-align: middle;
	display: block;
	clear: both;
	float: left;
	height: auto;
	margin: 20px auto;
	/* padding-top: 20px;*/
	font-size: 12pt;
	position: relative;
	width: 100%;
	text-align: center;
}

.lista_resultado {
	display: block;
	clear: both;
	font-size: 12pt;
	width: 100%;
	text-align: center;
}

.campoObrigatorio,.labelCampo,.campo,.campoRadio {
	display: block;
	float: left;
	font-size: 12px;
	vertical-align: middle;
	margin-top: 2px;
	text-align: left;
	font-size: 12px;
}

.campoObrigatorio {
	color: #FF0000;
}

.labelCampo {
	background-color: #EBEBEB;
	color: #212121;
	margin-left: 10px;
	padding: 4px 20px 5px 5px;
	width: 80px;
}

.campo,.campoRadio {
	margin: 2px 15px 0px 5px;
	color: #000000;
}

.campo {
	border: solid 1px;
	border-top-color: gray;
	border-bottom-color: silver;
	border-right-color: silver;
	border-left-color: silver;
	width: 360px;
	font-size: 12pt;
}

.campo:focus {
	border-top-color: #5794B7;
	border-bottom-color: #C5DAED;
	border-right-color: #C5DAED;
	border-left-color: #C5DAED;
	background: #FFFFE1;
}

.campo:hover {
	border-top-color: #5794B7;
	border-bottom-color: #C5DAED;
	border-right-color: #C5DAED;
	border-left-color: #C5DAED;
}

/* cabecalho da coluna e do rodape da rich:dataTable*/
.rich-table-subheader,.rich-table-footer {
	background-color: #C2CBD4;
}

/* celula do cabecalho da coluna e do rodape da rich:dataTable*/
.rich-table-headercell,.rich-table-footercell {
	font-weight: bold;
	font-size: 8pt;
}

/* celula do cabecalho da rich:dataTable */
.rich-table-headercell {
	text-align: center;
}

/* celula do rodape da rich:dataTable */
.rich-table-footercell {
	text-align: right;
}

/*=================================================*/
/*=========   ANALISAR PARA EXCLUIR DEPOIS ========*/
/*=================================================*/
td {
	font-family: verdana;
	font-size: 12px;
}

.td-form {
	background-color: #EBEBEB;
	border-bottom-color: #9ECFFF;
}

.margem-div {
	margin: 0px;
	border: none;
	padding: 0px;
}

.panelTab {
	border: 1px;
	width: 100%;
}

.column-grid-center {
	text-align: center;
}

.column-grid-left {
	text-align: left;
}

.editable-column-grid {
	color: green;
}

.odd-row {
	background-color: #F5F5F5;
}

.even-row {
	background-color: #FCFFFE;
}

.over-row {
	background-color: #CCCCCC;
}

.disabled-row {
	background-color: #E0E0E0;
}

.tooltip {
	background-color: #FCEED2;
	border-width: 3px;
	padding: 10px;
}

.tooltip-text {
	width: 350px;
	height: 80px;
	cursor: auto;
	border-width: 2px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.tooltipData {
	font-weight: bold;
}

.rich-messages-marker img {
	padding-right: 7px;
}

.buttonDistribuicao {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconDistribuicao.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonDistribuicaoOff {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconDistribuicaoOff.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonRecebimento {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconRecebimento.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonRecebimentoOff {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconRecebimentoOff.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonEncerramento {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconEncerrar.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonEncerramentoOff {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconEncerrarOff.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonDetalhes {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconDetalhe.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonCompensar {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/cheque_compensdo.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonDevolver {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/cheque_devolvido.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonEditar {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/edit.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonVisualizar {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/page_white_magnify.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonCalendario {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/calendario.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonEditarOff {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconEditarOff.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonExcluir {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/trash.gif);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonPdf {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/pdf_icon.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonVisualizar {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconVisualizar.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonFechar {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconFechar.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonExcluirOff {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconRemoverOff.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonDesativar {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconDesativar.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonAtivar {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconAtivar.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonSuspenso {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconSuspender.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonAdicionarResposta {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconAdicionar.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonAdicionar {
	display: block;
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 100px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
}

.buttonIncluirprocedimento {
	display: block;
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 100px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
}

.buttonRenovar {
	display: block;
	background-image: url(../imagens/icones/iconRenovar.png);
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 100px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 5px;
}

.buttonAlteraTipologia {
	display: block;
	background-image: url(../imagens/icones/iconMudarTipologia.png);
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 100px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 5px;
}

.styleSelectManyListbox {
	height: 150px;
	width: 400px;
}

.buttonCopy {
	display: block;
	background-image: url(../imagens/copy.jpg);
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 27px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 5px;
}

.buttonCopyAll {
	display: block;
	background-image: url(../imagens/copyAll.jpg);
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 27px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 5px;
}

.buttonRemove {
	display: block;
	background-image: url(../imagens/remove.jpg);
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 27px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 5px;
}

.buttonRemoveAll {
	display: block;
	background-image: url(../imagens/removeAll.jpg);
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 27px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 5px;
}

.buttonImprimir {
	display: block;
	background-image: url(../imagens/icones/print.png);
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 100px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 5px;
}

.buttonImprimirGrid {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../imagens/icones/iconPrint.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonPesquisar {
	display: block;
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 100px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
}

.buttonLimpar {
	display: block;
	background-color: #C2CBD4;
	height: 23px;
	width: 100px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
}

.buttonPesquisarLink {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(../imagens/icones/iconPesquisar.png);
	background-position: 0 0;
	margin: 0 auto;
}

.buttonVoltar {
	display: block;
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 100px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
}

.buttonSalvar {
	display: block;
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 100px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
}

.buttonAdicionarTarefa {
	display: block;
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 23px;
	width: 150px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
}

.button { /*display: block;*/
	background-color: #C2CBD4;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	color: black;
	height: 23px;
	margin: 0 15px 0 0;
	text-decoration: none;
	width: 100px;
}

.buttonParam {
	display: block;
	background-color: #C2CBD4;
	background-repeat: repeat-y;
	height: 35px;
	width: 100px;
	border-color: #C2CBD4;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	color: black;
}

.barra_hr {
	position: relative;
	display: block;
	padding-top: 50px;
	height: 100px;
}

.fig_style {
	vertical-align: middle;
}

.dr-pnl {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.dr-pnl-b {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.rich-tool-tip {
	color: #000000;
	background-color: #EAE7E2;
	border-color: #000000;
}

.dr-mpnl-pnl-b {
	padding: 0;
}

.dr-table-footer {
	background-color: #C2CBD4;
}

.dr-table-footercell {
	background-color: #C2CBD4;
	background-image:
		url(/Ceart/a4j/g/3_3_0.GAorg.richfaces.renderkit.html.GradientA/DATB/eAF79urt8fNXmAAXoQUq);
	background-position: left top;
	background-repeat: repeat-x;
	padding: 0px;
}

.rich-table-footercell {
	border-left-width: 0em;
}

#msg_texto {
	text-align: justify;
}

.dadosFormulario {
	width: 100%;
}

.dadosFormulario input {
	float: left;
}

/* ============================= */
/* =======   RICH FACES   ====== */
/* ============================= */
.rich-toolbar {
	background: #FFFFFF url(../imagens/imgMenu.jpg) repeat-x scroll 0 0;
	border-color: transparent;
	font-style: normal;
	text-align: left;
}

.dr-table-headercell {
	background-color: #C2CBD4;
	border-color: #C2CBD4;
	font-style: normal;
	text-align: left;
}

.dr-dscr-t {
	background-color: #C2CBD4;
	border-color: #C2CBD4;
}

.dr-dscr-button {
	background-color: #C2CBD4;
	border-color: #C2CBD4;
	font-style: normal;
}

.dr-dscr-button-dsbld {
	background-color: #C2CBD4;
	border-color: #C2CBD4;
	font-style: normal;
	color: #000000;
}

.rich-table-headercell {
	background-color: #C2CBD4;
	border-color: #C2CBD4;
	font-style: normal;
	text-align: left;
}

.dr-table-footercell {
	background-color: #C2CBD4;
	border-color: #C2CBD4;
}

.rich-table-footercell {
	background-color: #C2CBD4;
	border-color: #C2CBD4;
}

.rich-calendar-input {
	width: 80px;
	background-color: white;
}

.rich-picklist-source-items {
	margin: 0 0 0 0;
}